/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/app/search/search.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.search_main__lFAo_ {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 50px;
  color: whitesmoke;
}

.search_searchWrapper__vIeJf {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 40px 10px;
  border-radius: 20px;
  background-color: rgba(60, 60, 60, 0.9);
  box-shadow: -6px 6px 8px rgba(0, 0, 0, 0.5);
}

.search_input__2wgY9 {
  height: 45px;
  width: 50%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
  border-style: none;
  padding-left: 10px;
  font-size: 14px;
}

.search_input__2wgY9::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-style: italic;
  font-size: 14px;
}

.search_btnSearch__4WBmN {
  height: 35px;
  width: 15%;
  border-radius: 5px;
  border-style: none;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  font-weight: bold;
  border: 1px solid rgba(80, 80, 80, 1);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.search_reposWrapper__NbE5i {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  border-radius: 10px;
}

.search_repos__xb8p9 {
  height: 250px;
  width: 23%;
  margin: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(80, 80, 80, 1);
  box-shadow: -6px 6px 8px rgba(0, 0, 0, 0.5);
  padding: 20px 10px 0 10px;
  transition: all ease-in 0.4s;
}

.search_repos__xb8p9:hover {
  transform: scale(1.1);
}

.search_repos__xb8p9 p {
  margin-top: 10px;
  text-align: center;
}
.search_repos__xb8p9 a {
  height: 30px;
  width: 50%;
  border-radius: 5px;
  border-style: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(50, 50, 50, 1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  transition: all ease-in 0.4s;
  text-align: center;
  align-self: center;
  align-content: center;
}

.search_repos__xb8p9 a:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.7);
}

@media (min-width: 300px) and (max-width: 1024px) {
  .search_searchWrapper__vIeJf {
    width: 96%;
    align-items: center;
    padding: 30px;
    height: 100%;
    margin-top: 30px;
    padding: 10px;
  }

  .search_input__2wgY9{
    width: 100%;
  }

  .search_btnSearch__4WBmN{
    width: 50%;
  }
  .search_repos__xb8p9{
    width: 100%;
    justify-content: center;
  }
}

